<script id="GroupModelView" type="text/html">
<div class="GroupModelView">
	<div class="modal">
		<div class="modal-dialog">
			<div class= modal-content">
				<div class="modal-header">
					<div class="modal-title">Add Group</div>
				</div>
				<div class="modal-body">
			    	<div class="form-group">
        				<label class="control-label">GroupName:</label>
        				<input class="form-control" type="text">
        			</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default cancel">Cancel</button>
					<button type="button" class="btn btn-primary create">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>
</script>