<script id="MainView" type="text/html">
  <div class="MainView">
    
    <div class="MainView-topNav">
      <h2>Address Book</h2>
      <button type="button" class="btn btn-default add-group">
        Add Group
      </button>
    </div>
    
    <div class="MainView-content">

    </div>
  </div>
</script>

<script id="group-items" type="text/html">
{{# each result}}
<div class="group-ctn" data-entity="group" data-entity-id={{id}}>
  <div class="group-title">{{name}}
    <a class="btn btn-primary delete-group">
      Delete
    </a>
    <a class="btn btn-info add-user">
      Add User
    </a>
  </div>
  <div class="address-box">
    <div class="user-info-title">
      <div class="userId info">Id</div>
      <div class="username info">username</div>
      <div class="address info">address</div>
      <div class="tel info">telephone</div>
      <div class="edit info">-</div>
      <div class="delete info">-</div>
    </div>
    <div class="user-info-ctn">

    </div>
  </div>
</div>
{{/each}}
</script>

<script id="user-items" type="text/html">
<div class="user-info">
  <div class="userId info">{{id}}</div>
  <div class="username info">{{name}}</div>
  <div class="address info">{{address}}</div>
  <div class="tel info">{{tel}}</div>
  <a class="info edit"><span class="edit-user btn btn-info">Edit</span></a>
  <a class="info delete"><span class="delete-user btn btn-primary">delete</span></a>
</div>
</script>